
:root{
    --black: #152217;
    --white: #E9E9E8;
}

*{
    margin: 0;
    padding: 0;
    cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Ccircle cx='4' cy='4' r='4' fill='black'/%3E%3C/svg%3E"), auto;
}


  
::-moz-selection { background: var(--black); color: var(--white)}
::selection { background: var(--black); color: var(--white);}

@font-face {
    font-family: 'Basier Circle';
    font-style:  normal;
    font-weight: 400;
    
    src: url("/Assets/Fonts/basiercircle-regular-webfont.ttf") format("truetype"),
    src: url("/Assets/Fonts/basiercircle-regular-webfont.woff") format("woff"),
    src: url("/Assets/Fonts/basiercircle-regular-webfont.woff2") format("woff2"),
  }
  @font-face {
    font-family: 'Basier Circle Mono';
    font-style:  normal;
    font-weight: 400;
  
    src: url("/Assets/Fonts/basiercirclemono-regular-webfont.ttf") format("truetype"),
    src: url("/Assets/Fonts/basiercirclemono-regular-webfont.woff") format("woff"),
    src: url("/Assets/Fonts/basiercirclemono-regular-webfont.woff2") format("woff2"),
  }

html{
    font-family: 'Basier Circle';
    color: var(--black);
    background-color: var(--white);


}

#element {

    pointer-events: none;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: none;
    border: 1px solid var(--black);
    transition: all 0.5s cubic-bezier(0,.62,.38,1);
    transform-origin: '50% 50%';
    background-size: cover;
    overflow: visible;

}

#element svg{
    width: 100%;
    height: 100%;
}


.flex-container{
    display: flex;
    flex-direction: column;
    width: 92vw;
    margin: 64px auto;
}


h1{
    text-transform: uppercase;
    display: inline-block;
    font-weight: 400;
    cursor: none;
}


#time{
    font-family: 'Basier Circle Mono';
}

.workTitle{
    text-transform: uppercase;
    margin: 0 0 4px 0;
    font-size: 12px;
}

.video{
    position:absolute; top:0; left:0; width:100%;
}






/* Small devices (phones) */
@media only screen and (min-width: 0px) {

    #element{
        display:none;
    }


    .flex-container{
        padding-top:32px;
    }
    .line2{
        display: flex;
        flex-direction: column;
    }

    .line2 h1{
        margin: 0 0 0 -4px;
    }
    
    h1{
        font-size: 64px;
        letter-spacing: -0.032em;;
        font-weight: 400;
        line-height: 80%;
    }
    
    h2{
        font-size: 40px;
        letter-spacing: -0.024em;;
        font-weight: 400;
        line-height: 80%;
        text-transform: uppercase;
        margin: 24px 0 0 0;
    }

    h3{
        font-size: 24px;
        letter-spacing: -0.02em;;
        font-weight: 400;
        line-height: 125%;
        width: 80%;
        margin: 96px 0;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: auto;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        margin: 72px 0 0 0;
    }
    
    
    .details{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 24px 0 0 0;
    }

    .imageGrid{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        margin: 96px 0 0 0;
    }
    
    .gridItem{
        flex-basis: calc(50% - 8px);
        margin: 0 0 32px 0;
    }

    .workImage{
        width:100%;
    }
}


/* Medium devices (tablets) */
@media only screen and (min-width: 700px) {


    #element{
        display:none;
    }
    .flex-container{
        padding-top:32px;
    }
    .line2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    .line2 h1{
        margin: 0 0 0 -4px;
    }
    
    h1{
        font-size: 104px;
        letter-spacing: -0.08em;;
        font-weight: 400;
        line-height: 80%;
    }
    
    h2{
        font-size: 48px;
        letter-spacing: -0.064em;;
        font-weight: 400;
        line-height: 80%;
        text-transform: uppercase;
    }

    h3{
        font-size: 32px;
        letter-spacing: -0.02em;;
        font-weight: 400;
        line-height: 125%;
        width: 60%;
        margin: 128px 0;
    }

    p{
        font-size: 14px;
        font-weight: 400;
        letter-spacing: auto;
    }
    
    .info{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 72px 0 0 0;
        justify-content: space-between;
    }
    
    
    .details{
        width: 210px;
        display: flex;
        flex-direction: column;
        margin: 0 0 0 0;
    }

    .imageGrid{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        width: 100%;
        margin: 96px 0 0 0;
    }
    
    .gridItem{
        flex-basis: calc(25% - 8px);
        margin: 0 0 48px 0;
    }
}


/* Standard devices (laptop, above 1200px) */
@media only screen and (min-width: 1200px) {

    #element{
        display:block;
    }

.line2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.line2 h1{
    margin: 0 0 0 -20px;
}

h1{
    font-size: 256px;
    letter-spacing: -0.08em;;
    font-weight: 400;
    line-height: 80%;
}

h2{
    font-size: 88px;
    letter-spacing: -0.08em;;
    font-weight: 400;
    line-height: 80%;
    text-transform: uppercase;
}

h3{
    font-size: 32px;
    letter-spacing: -0.02em;;
    font-weight: 400;
    line-height: 125%;
    width: 60%;
    margin: 128px 0;
}

p{
    font-size: 16px;
    font-weight: 400;
    letter-spacing: auto;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 96px 0 0 0;
}


.details{
    width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.imageGrid{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    margin: 96px 0 0 0;
}

.gridItem{
    flex-basis: calc(20% - 8px);
}

}

