/*My Variables*/
:root{
    --black: #212529;
    --gray: #868E96;
}


@font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 400;
    src: url("/Assets/Fonts/Inter-UI-Regular.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 400;
    src: url("/Assets/Fonts/Inter-UI-Italic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 500;
    src: url("/Assets/Fonts/Inter-UI-Medium.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Medium.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 500;
    src: url("/Assets/Fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-MediumItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 700;
    src: url("/assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 700;
    src: url("/assets/fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-BoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 900;
    src: url("/assets/fonts/Inter-UI-Black.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-Black.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 900;
    src: url("/assets/fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-BlackItalic.woff") format("woff");
  }
  














.projectLink{
    color: var(--black);
    transition: all 0.1s;
}

.projectLink:hover{
    color: var(--gray);
    transition: all 0.1s;
}


.homeLink{
    color: var(--black);
    transition: all 0.1s;
    text-decoration: none;
    font-family: 'Inter UI';
    font-weight: 300;
    font-size: 2vh;
    margin: 0;
    padding: 0;
    grid-row: 1;
    grid-column: 1 / 2;
}

.homeLink:hover{
    color: var(--gray);
    transition: all 0.1s;
    text-decoration: none;
}









#drib{
color: var(--gray);
transition: all 0.1s;
}

    #drib:hover{
        color: #ea4c89;
    transition: all 0.1s;
    }

#insta{
    color: var(--gray);
    transition: all 0.1s;
    }
    
    #insta:hover{
        color: #f56040;
    transition: all 0.1s;
    }


 #be{
    color: var(--gray);
    transition: all 0.1s;
    }
    
    #be:hover{
        color: #1769ff;
    transition: all 0.1s;
    }

#un{
    color: var(--gray);
    transition: all 0.1s;
    }
    
    #un:hover{
        color: black;
    transition: all 0.1s;
    }


#e{
    color: var(--gray);
    transition: all 0.1s;
    }
    
    #e:hover{
        color: black;
    transition: all 0.1s;
    }





    /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .masterGrid{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 6;
        margin: 0 auto;
        width: 80%;
    }

    h2{
        font-family: 'Inter UI';
        font-size: 2.75vh;
        line-height: 135%;
        font-style:  normal;
        font-weight: 700;
        color: var(--black);
        margin: 10vh 0;
        grid-row: 2;
        grid-column: 1 / 7;
    }

    h3{
        font-family: 'Inter UI';
        font-size: 2vh;
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        color: var(--gray);
        grid-row: 3;
        grid-column: 1 / 7;
        margin: 0 0 6vh 0;
    }


    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 

    }

    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 
        justify-items: left;
    
    }
    
    .socialLink{
        font-family: 'Inter UI';
        font-size: 1.5vh; 
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        margin-right:15px;
    }
} 





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .masterGrid{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 6;
        margin: 0 auto;
        width: 80%;
    }

    h2{
        font-family: 'Inter UI';
        font-size: 3vh;
        line-height: 135%;
        font-style:  normal;
        font-weight: 700;
        color: var(--black);
        margin: 12vh 0;
        grid-row: 2;
        grid-column: 1 / 7;
    }

    h3{
        font-family: 'Inter UI';
        font-size: 2vh;
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        color: var(--gray);
        grid-row: 3;
        grid-column: 1 / 7;
        margin: 0 0 6vh 0;
    }


    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 

    }

    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 
        justify-items: left;
    
    }
    
    .socialLink{
        font-family: 'Inter UI';
        font-size: 1.5vh; 
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        margin-right:15px;
    }

} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .masterGrid{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 6;
        margin: 0 auto;
        width: 80%;
    }

    h2{
        font-family: 'Inter UI';
        font-size: 3.5vh;
        line-height: 135%;
        font-style:  normal;
        font-weight: 700;
        color: var(--black);
        margin: 12vh 0;
        grid-row: 2;
        grid-column: 1 / 7;
    }

    h3{
        font-family: 'Inter UI';
        font-size: 2vh;
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        color: var(--gray);
        grid-row: 3;
        grid-column: 1 / 5;
        margin: 0 0 6vh 0;
    }


    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 

    }

    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 
        justify-items: left;
    
    }
    
    .socialLink{
        font-family: 'Inter UI';
        font-size: 1.5vh; 
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        margin-right:15px;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .masterGrid{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 6;
        margin: 0 auto;
        width: 75%;
    }

    h2{
        font-family: 'Inter UI';
        font-size: 4vh;
        line-height: 135%;
        font-style:  normal;
        font-weight: 700;
        color: var(--black);
        margin: 14vh 0;
        grid-row: 2;
        grid-column: 1 / 7;
    }

    h3{
        font-family: 'Inter UI';
        font-size: 2vh;
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        color: var(--gray);
        grid-row: 3;
        grid-column: 1 / 5;
        margin: 0 0 6vh 0;
    }


    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 

    }

    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 
        justify-items: left;
    
    }
    
    .socialLink{
        font-family: 'Inter UI';
        font-size: 1.5vh; 
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        margin-right:15px;
    }

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .masterGrid{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 6;
        margin: 0 auto;
        width: 70%;
    }

    h2{
        font-family: 'Inter UI';
        font-size: 4.5vh;
        line-height: 135%;
        font-style:  normal;
        font-weight: 700;
        color: var(--black);
        margin: 14vh 0;
        grid-row: 2;
        grid-column: 1 / 7;
    }

    h3{
        font-family: 'Inter UI';
        font-size: 2.5vh;
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        color: var(--gray);
        grid-row: 3;
        grid-column: 1 / 4;
        margin: 0 0 6vh 0;
    }


    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 

    }

    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 
        justify-items: left;
    
    }
    
    .socialLink{
        font-family: 'Inter UI';
        font-size: 1.75vh; 
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        margin-right:15px;
    }

}





/* Extra large devices (large laptops and desktops, 1921px and up) 
@media only screen and (min-width: 1921px) {

    .masterGrid{
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 6;
        margin: 0 auto;
        width: 70%;
    }

    h2{
        font-family: 'Inter UI';
        font-size: 5vh;
        line-height: 135%;
        font-style:  normal;
        font-weight: 700;
        color: var(--black);
        margin: 14vh 0;
        grid-row: 2;
        grid-column: 1 / 6;
    }

    h3{
        font-family: 'Inter UI';
        font-size: 2.5vh;
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        color: var(--gray);
        grid-row: 3;
        grid-column: 1 / 4;
        margin: 0 0 6vh 0;
    }


    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 

    }

    .socialContainer{
        grid-row: 4;
        grid-column: 1 / 7; 
        justify-items: left;
    
    }
    
    .socialLink{
        font-family: 'Inter UI';
        font-size: 1.75vh; 
        line-height: 145%;
        font-style:  normal;
        font-weight: 300;
        margin-right:15px;
    }

}
*/