@font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 400;
    src: url("/Assets/Fonts/Inter-UI-Regular.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 400;
    src: url("/Assets/Fonts/Inter-UI-Italic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 500;
    src: url("/Assets/Fonts/Inter-UI-Medium.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Medium.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 500;
    src: url("/Assets/Fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-MediumItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 700;
    src: url("/Assets/Fonts/Inter-UI-Bold.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 700;
    src: url("/Assets/Fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-BoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 900;
    src: url("/Assets/Fonts/Inter-UI-Black.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Black.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 900;
    src: url("/Assets/Fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-BlackItalic.woff") format("woff");
  }
  





h1{
    font-family: 'Inter UI';
}

.herotext{
    font-family: 'Inter UI';
    font-size: 32px;
    line-height: 48px;
    font-style:  normal;
    font-weight: 700;
}

.herocontainer{
    width: 60%;
    margin: 0 auto;
}