@font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 400;
    src: url("/Assets/Fonts/Inter-UI-Regular.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 400;
    src: url("/Assets/Fonts/Inter-UI-Italic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Italic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 500;
    src: url("/Assets/Fonts/Inter-UI-Medium.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-Medium.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 500;
    src: url("/Assets/Fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
         url("/Assets/Fonts/Inter-UI-MediumItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 700;
    src: url("/assets/fonts/Inter-UI-Bold.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 700;
    src: url("/assets/fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-BoldItalic.woff") format("woff");
  }
  
  @font-face {
    font-family: 'Inter UI';
    font-style:  normal;
    font-weight: 900;
    src: url("/assets/fonts/Inter-UI-Black.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-Black.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter UI';
    font-style:  italic;
    font-weight: 900;
    src: url("/assets/fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
         url("/assets/fonts/Inter-UI-BlackItalic.woff") format("woff");
  }
  


.headerBar{
    padding: 3vw 3vw 0 3vw;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 1fr 1fr;
}

.myName{
    grid-row: 1;
    grid-column: 1 / 2;
}

.menuButton{
    grid-row: 1;
    grid-column: 2 / 3;
    width: 24px;
    height: 24px;
    justify-self: right;
}

.burgerBars{
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
    
}

.burgerTop{

}

.burgerMiddle{
 margin: 6px auto;
}

.burgerBottom{

}


h1{
    
    font-family: 'Inter UI';
    font-weight: 300;
    font-size: 2vh;
    margin: 0;
    padding: 0;

}

.gridContainer{
    width: 100%;
    padding: 15vh 0;
}


.heroContainer{
    width: 70%;
    margin: 0 auto;
}

.heroText{
    font-family: 'Inter UI';
    font-size: 4.5vh;
    line-height: 125%;
    font-style:  normal;
    font-weight: 700;
}
